@forward "../base/index";
@use "../util/index";
/*Note:you can change the index name.For example you wanna change index name as variable. 
@use "../util/index as variable.";
Note: Then you have to use
header{
    background-color: variable.$header-bgcolor;
};
*/



header{
    background-color: index.$header-bgcolor;
};

// NAVBAR STYLINg WITH NESTING===================================
nav{
    margin-top: 15px;

    ul{
        list-style-type: none;

        li{
            display: inline;
            margin: 0 15px;

            a{
                display: inline-block; 
                color: white;
                text-decoration: none;
                padding: 10px;
                transition: 0.4s;
                border-radius: 5px;
             }
             a:hover{
                background: black;
            }
        }
    };
}


main{
    background-color: index.$main-bgcolor;
};

footer{
    background-color: index.$footer-bgcolor;
};

#about{
    font-size: index.$para-fontsize;
}