// color variable declarations
$header-bgcolor: #ffab73;
$main-bgcolor: #ffd384;
$footer-bgcolor: #ffaec0;

$para-fontsize: 20px;

/*Browser reset code*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: $header-bgcolor;
};

main{
    background-color: $main-bgcolor;
};

footer{
    background-color: $footer-bgcolor;
};

#about{
    font-size: $para-fontsize;
}